* {
    font-family: sans-serif;
}

header {
    width: 100%;
    padding: 1em;
    background-color: #3366FF;
    position: relative;
}

.header-text {
    background-color: grey;
    width: 100%;
    margin: -1em;
    padding: 1em;
    opacity: 0.8;
}

header img {
    width: 30%;
}

section {
    width: 48%;
    padding: 1%;
}

.column-1 {
    float: left;
}

.column-2 {
    float: right;
}

footer {
    clear: both;
    width: 100%;
    padding: 1em;
}